{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row center-align">
  <form method="post" action="" role="form" class="col s12">
    <div class="row">
      {% csrf_token %}
      {{ form.id }}
      <h3>Reinitialiser votre mot de passe</h3>
    </div>
    {% if validlink %}
    <div class="row">
      <div class="input-field col s12">
        {{ form.new_password1 }}
        <label for="new_password1">Nouveau mot de passe</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        {{ form.new_password2 }}
        <label for="new_password1">Confirmation mot de passe</label>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col s12">
        <span style="color: red; font-weight: bold;">Le lien pour réinitialiser votre mot de passe n'est pas valide, il a déjâ été utilisez. Redemandez un nouveau.</span>
      </div>
    </div>
    {% endif %}
    <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">send</i>Changer mot de passe</button>
  </form>
</div>
{% endblock %}